:root {
    --color-primary: #222222;
    --color-light: #fff;
    --primary-color: #45a2ff;
    --secondary-color: #ff6347;
    /* Vermelho-tomate */
    --accent-color: #ffcc00;
    /* Amarelo */
    --background-dark: #222;
    --background-color: #f5f5f5;
    /* Cinza claro */
    --text-color: #333;
    --text-muted-color: #a9a6a6;
    --color-dark-100: #222;
    --color-dark-300: #7a7a75;
    --border-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
}

/* hero section */
.hero-section {
    width: 100%;
    height: 100vh;
    position: relative;
    background: radial-gradient(circle, rgba(103, 103, 103, 1) 0%, rgba(85, 85, 85, 1) 50%, rgba(34, 34, 34, 1) 100%);
    overflow: hidden;
}

/* header & navbar */
header {
    position: fixed;
    padding: 1rem 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    .nav-menu {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    a {
        color: var(--text-muted-color);
        transition: 100ms ease-in-out;
        padding: 10px;
        display: inline-block;

        &:hover {
            color: var(--accent-color);
            transform: translateY(15%) scale(104%);
        }

        &.active {
            color: var(--accent-color);
        }
    }

    .menu-toggle {
        display: none;
    }
}

.author-photo {
    position: absolute;
    left: 50%;
    top: 10vh;
    min-height: 90vh;
    /* max-height: 80vh; */
    bottom: 0;
    margin-top: 10vh;
    filter: grayscale(.3) brightness(.5);
    transform: translateX(-50%);
}

.hero-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: var(--color-light);
    text-align: center;
    user-select: none;

    #self-introduction {
        letter-spacing: 1px;
        font-size: 2rem;
    }

    .highlight {
        display: block;
        line-height: 1.2;
        font-family: "Archivo Black", sans-serif;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
    }

    .subtitle {
        font-size: 1.2rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-weight: 400;
        color: var(--text-muted-color);
        margin-top: 1rem;
    }

    .cta-button {
        display: inline-block;
        margin-top: 1.5rem;
        padding: 10px;
        transition: 100ms ease-in-out;
        color: var(--color-light);

        &:hover {
            color: var(--accent-color);
            transform: translateY(15%) scale(104%);
        }
    }
}

#emptyspace {
    height: 80vh;
    background-color: var(--text-muted-color);
}

.site-footer {
    text-align: center;
    background-color: var(--background-dark);
    color: var(--color-dark-300);
    min-height: 300px;

    .container {
        padding: 80px 0;
    }

    .social-links {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        gap: 10px;
    }

    svg {
        fill: var(--accent-color);
    }

    a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: var(--color-dark-300);
        border-radius: 50%;
        transition: 100ms ease-in-out;

        &:hover {
            background-color: #ffcc00;
            transform: translateY(15%) scale(104%);

            svg {
                fill: var(--color-dark-300);
            }
        }
    }
}