:root {
    --color-primary: #ffcc00;
    --color-secondary: #ffe600;
    --color-light-100: #fff;
    --color-dark-100: #111;
    --color-dark-200: #222;
    --color-dark-300: #333;
    --color-dark-400: #7a7a75;
    --color-dark-500: #a9a6a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    padding: 100px 20px;
}

/* header & navbar */
header {
    position: fixed;
    padding: 1rem 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    .container {
        padding: 0 20px;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    a {
        color: var(--color-dark-500);
        transition: 100ms ease-out 100ms;
        padding: 10px;
        display: inline-block;

        &:hover, &.active {
            color: var(--color-primary);
        }

        &:hover {
            transform: translateY(10%) scale(104%);
            transition: 100ms ease-in;
        }
    }

    .menu-toggle {
        display: none;
    }
}

/* hero section */
.hero-section {
    width: 100%;
    height: 100vh;
    position: relative;
    background: radial-gradient(circle, rgba(103, 103, 103, 1) 0%, rgba(85, 85, 85, 1) 50%, rgba(34, 34, 34, 1) 100%);
    overflow: hidden;

    .author-photo {
        position: absolute;
        left: 50%;
        top: 10vh;
        min-height: 90vh;
        /* max-height: 80vh; */
        bottom: 0;
        margin-top: 10vh;
        filter: grayscale(.3) brightness(.5);
        transform: translateX(-50%);
    }

    .hero-content {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -40%);
        color: var(--color-light-100);
        text-align: center;
        user-select: none;

        #self-introduction {
            letter-spacing: 1px;
            font-size: 2rem;
            font-weight: 100;
        }

        .highlight {
            display: block;
            line-height: 1.2;
            font-family: "Archivo Black", sans-serif;
            font-size: 4rem;
            font-style: normal;
        }

        .subtitle {
            font-size: 1.2rem;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-weight: 400;
            color: var(--color-dark-500);
            margin-top: 1rem;
        }

        .cta-button {
            /* display: inline-block; */
            display: none;
            margin-top: 1.5rem;
            padding: 10px;
            transition: 100ms ease-out 100ms;
            color: var(--color-light-100);

            &:hover {
                color: var(--color-primary);
                transform: translateY(10%) scale(104%);
                transition: 100ms ease-in;
            }
        }
    }
}

.portfolio-section, .resume-section, .about-section {
    background-color: var(--color-dark-200);
    color: var(--color-light-100);
}

#portfolio-title, #resume-title, #about-title {
    font-weight: 100;
    font-size: 1.8rem;
    text-align: center;

    strong {
        line-height: 1.2;
        font-family: "Archivo Black", sans-serif;
        font-style: normal;
    }
}

.portfolio-filters ul {
    /* display: flex; */
    display: none; /* freeze filters */
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;

    li {
        transition: 100ms ease-out 100ms;
        cursor: pointer;

        &:hover, &.active {
            color: var(--color-primary);
        }

        &:hover {
            transition: 100ms ease-in;
            transform: translateY(10%) scale(104%);
        }
    }
}

.portfolio-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 40px;

    .portfolio-item {
        text-align: center;

        img {
            width: 100%;
        }

        figcaption {
            margin-top: 1rem;
            font-size: 1.2rem;
            font-weight: 100;
        }

        p {
            margin-top: .8rem;
            font-size: .7rem;
            font-weight: 100;
        }
    }
}

.resume-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
    .resume-column {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h3 {
            font-size: 1.4rem;
            font-weight: 100;
            margin: 60px auto 0;
        }
        
        .resume-card {
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: var(--color-dark-300);
            border-radius: 10px;
            padding: 30px;

            .resume-date {
                font-size: .8rem;
            }

            .resume-title {
                font-size: 1.2rem;
                font-weight: 100;
                color: var(--color-primary);
            }

            .resume-description, .resume-institution {
                color: var(--color-dark-500);
                font-size: .9rem;
            }

            .resume-institution {
                margin-top: .5rem;
            }
        }
    }
}

.about-section {
    .container {
        display: flex;
        justify-content: center;
        gap: 100px;

        .about-image {
            width: 50%;
            background: radial-gradient(circle, var(--color-dark-500) 0%, var(--color-dark-400) 70%, var(--color-dark-300) 140%);
            position: relative;
            height: auto;

            img {
                position: absolute;
                height: 90%;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: auto;
                /* width: 100%;
                height: 100%; */
                object-fit: cover;
            }
        }

        .about-content {
            width: 50%;

            #about-title {
                margin: 30px 0;
                text-align: left;
            }

            p {
                line-height: 1.3;
                margin-bottom: 15px;
                color: var(--color-dark-500);
            }
    
            .about-actions {
                margin-top: 40px;
                display: flex;
                gap: 15px;
                
                a {
                    padding: 10px 30px;
                    border-radius: 20px;
                    font-size: .8rem;
                    transition: 100ms ease-out 100ms;

                    &:hover {
                        transition: 100ms ease-in;
                        transform: translateY(10%) scale(104%);
                    }

                    
                    &.btn-primary {
                        background-color: var(--color-primary);
                        color: var(--color-dark-100);

                        &:hover {
                            background-color: var(--color-secondary);
                        }
                    }
                    
                    &.btn-secondary {
                        background-color: var(--color-dark-400);
                        color: var(--color-light-100);

                        &:hover {
                            background-color: var(--color-dark-500);
                        }
                    }
                }
            }
        }
    }
}

.site-footer {
    text-align: center;
    background-color: var(--color-dark-200);
    color: var(--color-dark-400);
    min-height: 300px;

    .social-links {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        gap: 10px;
    }

    svg {
        fill: var(--color-primary);
    }

    a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: var(--color-dark-400);
        border-radius: 50%;
        transition: 100ms ease-out 100ms;

        &:hover {
            background-color: var(--color-primary);
            transition: 100ms ease-in;
            transform: translateY(10%) scale(104%);

            svg {
                fill: var(--color-dark-400);
            }
        }
    }
}