:root {
    --color-primary: #ffcc00;
    --color-secondary: #ffe600;
    --color-light-100: #fff;
    --color-dark-100: #111;
    --color-dark-200: #222;
    --color-dark-300: #333;
    --color-dark-400: #7a7a75;
    --color-dark-500: #a9a6a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 100px 20px;
}

/* header & navbar */
header {
    position: fixed;
    padding: 1rem 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    /* background-color: var(--color-light-100); */

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
        gap: 20px;

        a {
            color: var(--color-dark-500);
            padding: 10px;
            display: inline-block;
    
            &.active {
                color: var(--color-primary);
            }
        }
        
        &:not(.mobile-visible) a {
            transition: 100ms ease-out 100ms;
            
            &:hover {
                color: var(--color-primary);
                transform: translateY(10%) scale(104%);
                transition: 100ms ease-in;
            }
        }
    }


    .menu-toggle {
        display: none;
    }
}

/* hero section */
.hero-section {
    width: 100%;
    height: 100vh;
    position: relative;
    background: radial-gradient(circle, rgba(103, 103, 103, 1) 0%, rgba(85, 85, 85, 1) 50%, rgba(34, 34, 34, 1) 100%);
    overflow: hidden;

    .author-photo {
        position: absolute;
        left: 50%;
        top: 10vh;
        min-height: 90vh;
        /* max-height: 80vh; */
        bottom: 0;
        margin-top: 10vh;
        filter: grayscale(.3) brightness(.5);
        transform: translateX(-50%);
    }

    .hero-content {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -40%);
        color: var(--color-light-100);
        text-align: center;
        user-select: none;

        #self-introduction {
            letter-spacing: 1px;
            font-size: 2rem;
            font-weight: 100;
        }

        .highlight {
            display: block;
            line-height: 1.2;
            font-family: "Archivo Black", sans-serif;
            font-size: 4rem;
            font-style: normal;
        }

        .subtitle {
            font-size: 1.2rem;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-weight: 400;
            color: var(--color-dark-500);
            margin-top: 1rem;
        }

        .cta-button {
            /* display: inline-block; */
            display: none;
            margin-top: 1.5rem;
            padding: 10px;
            transition: 100ms ease-out 100ms;
            color: var(--color-light-100);

            &:hover {
                color: var(--color-primary);
                transform: translateY(10%) scale(104%);
                transition: 100ms ease-in;
            }
        }
    }
}

.portfolio-section, .resume-section, .about-section, .testimonials-section, .services-section {
    background-color: var(--color-dark-200);
    color: var(--color-light-100);
}

#portfolio-title, #resume-title, #about-title, #testimonial-title, #services-title {
    font-weight: 100;
    font-size: 1.8rem;
    text-align: center;

    strong {
        line-height: 1.2;
        font-family: "Archivo Black", sans-serif;
        font-style: normal;
    }
}

.portfolio-filters ul {
    /* display: flex; */
    display: none; /* freeze filters */
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;

    li {
        transition: 100ms ease-out 100ms;
        cursor: pointer;

        &:hover, &.active {
            color: var(--color-primary);
        }

        &:hover {
            transition: 100ms ease-in;
            transform: translateY(10%) scale(104%);
        }
    }
}

.portfolio-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 40px;

    .portfolio-item {
        text-align: center;

        img {
            width: 100%;
        }

        figcaption {
            margin-top: 1rem;
            font-size: 1.2rem;
            font-weight: 100;
        }

        p {
            margin-top: .8rem;
            font-size: .7rem;
            font-weight: 100;
        }
    }
}

.resume-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
    .resume-column {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h3 {
            font-size: 1.4rem;
            font-weight: 100;
            margin: 60px auto 0;
        }
        
        .resume-card {
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: var(--color-dark-300);
            border-radius: 10px;
            padding: 30px;

            .resume-date {
                font-size: .8rem;
            }

            .resume-title {
                font-size: 1.2rem;
                font-weight: 100;
                color: var(--color-primary);
            }

            .resume-description, .resume-institution {
                color: var(--color-dark-500);
                font-size: .9rem;
            }

            .resume-institution {
                margin-top: .5rem;
            }
        }
    }
}

.about-section {
    .container {
        display: flex;
        justify-content: center;
        gap: 100px;

        .about-image {
            width: 50%;
            background: radial-gradient(circle, var(--color-dark-500) 0%, var(--color-dark-400) 70%, var(--color-dark-300) 140%);
            position: relative;
            height: auto;

            img {
                position: absolute;
                height: 90%;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: auto;
                object-fit: cover;
            }
        }

        .about-content {
            width: 50%;

            #about-title {
                margin: 30px 0;
                text-align: left;
            }

            p {
                line-height: 1.3;
                margin-bottom: 15px;
                color: var(--color-dark-500);
            }
    
            .about-actions {
                margin-top: 40px;
                display: flex;
                gap: 15px;
                
                a {
                    padding: 10px 30px;
                    border-radius: 20px;
                    font-size: .8rem;
                    transition: 100ms ease-out 100ms;

                    &:hover {
                        transition: 100ms ease-in;
                        transform: translateY(10%) scale(104%);
                    }

                    
                    &.btn-primary {
                        background-color: var(--color-primary);
                        color: var(--color-dark-100);

                        &:hover {
                            background-color: var(--color-secondary);
                        }
                    }
                    
                    &.btn-secondary {
                        background-color: var(--color-dark-400);
                        color: var(--color-light-100);

                        &:hover {
                            background-color: var(--color-dark-500);
                        }
                    }
                }
            }
        }
    }
}

.testimonials-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 40px;

    .testimonial-card {
        background-color: var(--color-dark-300);
        padding: 30px;
        margin-left: 100px;
        position: relative;
        border-radius: 10px;

        &::after {
            width: 0;
            height: 0;
            content: '';
            border-right: 30px solid var(--color-dark-300);
            border-top: 0 solid transparent;
            border-bottom: 20px solid transparent;
            position: absolute;
            right: 100%;
            top: 40px;
        }

        blockquote {
            line-height: 1.3;
            margin-bottom: 15px;
            color: var(--color-dark-500);
        }

        .author-info {
            color: var(--color-dark-400);

            .author-name {
                color: var(--color-primary);
                font-weight: 100;
            }
        }

        .author-avatar {
            position: absolute;
            right: calc(100% + 40px);
            top: 0;
            
            img {
                border-radius: 50%;
            }
        }
    }
}

.services-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;

    .service-card {
        display: flex;
        flex-direction: column;
        background-color: var(--color-dark-300);
        padding: 40px 30px;
        border-radius: 10px;

        .service-icon {
            margin: 0 auto 20px;
            width: 80px;
            height: 80px;

            svg {
                background-color: var(--color-primary);
                color: var(--color-dark-300);
                padding: 8px;
                border-radius: 50%;
            }
        }

        .service-title {
            font-size: 1.2rem;
            font-weight: 100;
            color: var(--color-light-100);
            text-align: center;
            margin-bottom: 20px;
        }
        
        .service-description {
            color: var(--color-dark-500);
            font-size: .9rem;
            margin-bottom: 20px;
        }
        
        .service-link {
            font-size: .9rem;
            align-self: center;
            margin-top: auto;
            color: var(--color-primary);
        }
    }
}

.site-footer {
    text-align: center;
    background-color: var(--color-dark-200);
    color: var(--color-dark-400);
    min-height: 300px;

    .social-links {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        gap: 10px;
    }

    svg {
        fill: var(--color-primary);
    }

    a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: var(--color-dark-400);
        border-radius: 50%;
        transition: 100ms ease-out 100ms;

        &:hover {
            background-color: var(--color-primary);
            transition: 100ms ease-in;
            transform: translateY(10%) scale(104%);

            svg {
                fill: var(--color-dark-400);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .testimonials-grid {
        grid-template-columns: 1fr;
    }

    .services-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .service-card {
            flex-grow: 1;
            flex-basis: 400px;
            max-width: 500px;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-bottom: 0;
    }

    .hero-section {
        .author-photo {
            min-height: 70vh;
            width: 70%;
        }

        .hero-content {
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
    }

    .resume-grid {
        grid-template-columns: 1fr;

        .resume-column {
            display: inherit;
            grid-template-columns: 1fr 1fr;

            & > :first-child {
                grid-column: span 2;
            }
        }
    }

    .about-section {
        .container {
            flex-direction: column;
            align-items: center;
            gap: 50px;

            .about-image {
                width: 100%;
                height: 50vh;
            }

            .about-content {
                width: 80vw;
                height: 50vh;
                
                #about-title {
                    margin-top: 0;
                    text-align: center;
                }

                .about-location {
                    text-align: center;
                }

                .about-actions {
                    justify-content: center;
                }
            }
        }
    }

    
}

@media screen and (max-width: 640px) {
    .container {
        padding: 100px 40px 0;
    }

    header {
        background-color: var(--color-light-100);
        height: 60px;
        justify-content: left;
        align-items: center;

        .container {
            display: flex;
            justify-content: start;
            align-items: center;
        }

        .nav-menu {
            --nav-menu-width: clamp(200px, 50vw, 300px);
            position: fixed;
            top: 60px;
            left: calc( calc(var(--nav-menu-width) + 10px) * -1);
            height: calc(100vh - 60px);
            flex-direction: column;
            justify-content: flex-start;
            padding: 5vh 20px;
            width: var(--nav-menu-width);
            background-color: var(--color-light-100);
            transition: left 200ms ease-in-out 100ms;

            a {
                font-size: 1.5rem;
                color: var(--color-dark-400);
            }

            &.mobile-visible {
                left: 0;
                transition: left 200ms ease-in-out 100ms;
            }
        }

        .menu-toggle {
            display: inline-block;
            position: relative;
            cursor: pointer;
            width: 40px;
            height: 40px;
            background: none;
            border: none;

            .hamburger {
                --hamburger-color: var(--color-dark-400);
                position: absolute;
                width: 38px;
                height: 4px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--hamburger-color);
                transition: 600ms ease-in-out;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: var(--hamburger-color);
                    top: 10px;
                    left: 0;
                    transition: 200ms ease-in-out 100ms;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: var(--hamburger-color);
                    top: -10px;
                    left: 0;
                    transition: 200ms ease-in-out 100ms;
                }
            }

            &[aria-expanded="true"] {
                .hamburger {
                    transform: translate(-50%, -50%);
                    transition: 100ms ease-in;
                    background-color: white;
                    background-color: transparent;
                    
                    &::before {
                        left: 50%;
                        transform: rotate(-45deg) translate(-50%, -5px);
                    }

                    &::after {
                        left: 50%;
                        transform: rotate(45deg) translate(-50%, 5px);
                    }
                }
            }
        }
    }

    .hero-section {
        .author-photo {
            width: 100%;
        }
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    .resume-grid {
        grid-template-columns: 1fr;

        .resume-column {
            display: flex;

            h3 {
                margin-top: 20px;
            }
        }
    }

    .about-section {
        .container {

            .about-image {
                width: 100%;
                height: 30vh;
            }

            .about-content {
                width: 80vw;
                height: 50vh;
            }
        }
    }

    .testimonials-grid {
        .testimonial-card {
            margin-left: 0;

            &::after {
                display: none;
            }

            .testimonial-author {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .author-avatar {
                position: relative;
                right: unset;
            }
        }
    }
}